makefile
menu.png
mm.jpg
prog
.vscode/launch.json
.vscode/settings.json
Images/Exit.png
Images/Exit1.png
Images/music.mp3
Images/Options.png
Images/Options1.png
Images/Play.png
Images/Play1.png
Images/drive-download-20230208T112708Z-001/Exist1.png
Images/drive-download-20230208T112708Z-001/Exit.png
Images/drive-download-20230208T112708Z-001/Options.png
Images/drive-download-20230208T112708Z-001/Options1.png
Images/drive-download-20230208T112708Z-001/Play.png
Images/drive-download-20230208T112708Z-001/Play1.png
main.o
index.jpeg
image.o
Audio.o
